/* Estilos o Normas a la hora de crear CSS: Módulos, BEM, SMACS */

/* Especificidad en CSS
    0 0 0 2 => Etiqueta, es el selector más débil.
    0 0 1 1 => Para . clases
    0 1 0 1 => Para # ID´s son más pesados y lentos que los anteriores.
    1 0 0 0 => Para !Important
 */

/* Sniped de Paul Irish para aplicar Border-sizing a todos los elementos*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}


 .nombre-sitio span {
     color: #037bc0;
 }

 .sobre-nosotros {
     background-color: rgb(224, 102, 163);
     width: 200px;
     padding: 25px;
     box-sizing: content-box;
 }